#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  min-width: 45rem;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  font-size: 1.6rem;
  padding: 1rem;
  margin-block-end: 2rem;
}

textarea {
  font-size: 1.6rem;
  padding: 1rem;
  margin-block-end: 2rem;
}

button {
  font-size: 1.6rem;
}
