:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar-link {
  display: flex;
  list-style: none;
  gap: 20px;
}

li {
  padding: 0 15px;
}

a {
  text-decoration: none;
}

a.active {
  color: red;
}
